<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ay.study.mybatis_1101.app.article.repository.ArticleMapper">

<!-- yml 파일에서의 alias 설정으로 resultType 앞의 package 명 생략 가능 -->
  <select id="getArticles" resultType="Article">
    select * from article
  </select>


</mapper>